<div class="pt-12 px-36 bg-gray-100 min-h-screen">
  <!-- Filtros de búsqueda -->
  <div class="bg-white p-4 shadow rounded-md mb-4">
    <h2 class="font-bold text-4xl text-gray-700 mb-4">FILTRO DE TRAZABILIDAD</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center mb-4">
      <!-- Fecha inicio -->
      <div>
        <label for="startDate" class="block text-xl font-medium text-gray-700">Fecha inicio</label>
        <input
          id="startDate"
          type="date"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          [(ngModel)]="startDate"
          [value]="startDate"

        />
      </div>

      <!-- Fecha fin -->
      <div>
        <label for="endDate" class="block text-xl font-medium text-gray-700">Fecha fin</label>
        <input
          id="endDate"
          type="date"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          [(ngModel)]="endDate"
          [value]="endDate"

        />
      </div>

      <!-- Botón de buscar -->
      <div class="flex items-end">
        <button
          (click)="onSearch()"
          class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        >
          Buscar
        </button>
      </div>
    </div>
    <div class="flex justify-start mb-4">
      <button
        (click)="Filter()"
        class="bg-green-600 text-white py-2 px-4 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
      >
        Filtrar
      </button>
    </div>
    <!-- Opciones de filtro (solo visibles cuando 'showFilters' es true) -->
    <div *ngIf="showFilters" class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <!-- Filtro por Origen -->
      <div>
        <label for="origin" class="block text-sm font-medium text-gray-700">Origen</label>
        <input
          id="origin"
          type="text"
          class="mt-1 block w-full h-12 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          [(ngModel)]="origin"
        />
      </div>

      <!-- Filtro por Destino -->
      <div>
        <label for="destination" class="block text-sm font-medium text-gray-700">Destino</label>
        <input
          id="destination"
          type="text"
          class="mt-1 block w-full h-12 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          [(ngModel)]="destination"
        />
      </div>

      <!-- Filtro por Tipo -->
      <div>
        <label for="type" class="block text-sm font-medium text-gray-700">Tipo</label>
        <select
          id="type"
          [(ngModel)]="type"
          class="mt-1 block w-full h-12 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        >
          <option value="">Seleccione un tipo</option>
          <option value="Entrante">Entrante</option>
          <option value="Saliente">Saliente</option>
        </select>
      </div>
    </div>
  </div>

  <div   class="bg-white p-4 shadow rounded-md">
    <h2 class="text-lg font-semibold text-gray-700 mb-2">Resultados de Trazabilidad</h2>
    <div class="table-container" style="overflow: auto; height: 40vh;">
      <div *ngIf="dataSource.data.length == 0" class="flex justify-center items-center h-full text-center text-gray-500">
        No se encontraron resultados
      </div>
      <table *ngIf="dataSource.data.length !=0" mat-table [dataSource]="dataSource" class="min-w-full table-auto border-collapse border border-gray-300">
  <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="callid">
        <th mat-header-cell *matHeaderCellDef>Call ID</th>
        <td mat-cell *matCellDef="let element">{{ element.callid }}</td>
      </ng-container>

      <ng-container matColumnDef="Inicio">
        <th mat-header-cell *matHeaderCellDef>Inicio</th>
        <td mat-cell *matCellDef="let element">{{ element.segstart | date:'dd/MM/yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="Fin">
        <th mat-header-cell *matHeaderCellDef>Fin</th>
        <td mat-cell *matCellDef="let element">{{ element.segstop | date:'dd/MM/yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duración</th>
        <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
      </ng-container>
      <ng-container matColumnDef="Origen">
        <th mat-header-cell *matHeaderCellDef>Origen</th>
        <td mat-cell *matCellDef="let element">{{ element.callingparty }}</td>
      </ng-container>
      <ng-container matColumnDef="Destino">   
        <th mat-header-cell *matHeaderCellDef>Destino</th>
        <td mat-cell *matCellDef="let element">{{ element.dialednumber}}</td>
      </ng-container>


      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element">{{ element.tipo }}</td>
      </ng-container>
      <ng-container matColumnDef="Segmento">
        <th mat-header-cell *matHeaderCellDef>Segmento</th>
        <td mat-cell *matCellDef="let element">{{ element.segment}}</td>
      </ng-container>
      <ng-container matColumnDef="Dni/Ruc">
        <th mat-header-cell *matHeaderCellDef>Dni/Ruc</th>
        <td mat-cell *matCellDef="let element">{{ element.dni_ruc }}</td>
      </ng-container>

      <ng-container matColumnDef="corte">
        <th mat-header-cell *matHeaderCellDef>Corte</th>
        <td mat-cell *matCellDef="let element">{{ element.corte }}</td>
      </ng-container>

      <!-- Fila -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

    <!-- Paginador -->
    <mat-paginator [pageSize]="25"  showFirstLastButtons></mat-paginator>
  </div>


</div>
